body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: 'Lato';
    color: #333333;
    background-color: #fafafa;
    padding: 0 10px;
    font-size: 18px;
}
h1,
h2,
h3 {
    line-height: 1.2
}
a:link {
    color: #283593;
    text-decoration: none;
}
a:visited {
    color: #6a1b9a;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
